{
  "extends": "airbnb",
  "rules" : {
    "new-cap": ["error", {
      "newIsCap": true,
      "newIsCapExceptions": [],
      "newIsCapExceptionPattern": "self",
      "capIsNew": false,
      "capIsNewExceptions": []
    }]
  }
}